<nav>
    <!-- <a href="{% url 'news:index' %}">Home</a> -->
    {% if request.user.is_authenticated %}
     <ul>
        <li><a href="#"> Welcome, {{user.username}} </a></li>
        <li><a href="{% url 'news:createStory' %}">Write New Story</a></li>
        <li><a href="{% url 'news:profile' %}">Profile</a></li>
        <li><a href="{% url 'news:myStories' %}">My Stories</a></li>
        <li><a href="{% url 'news:myFavourites' %}">My Favourites</a></li>
     </ul>
      
      <a href="{% url 'logout' %}">Logout</a>
    {% else %}  
     <ul>
        <li><a href="{% url 'news:index' %}">Home</a></li>
        <li><a href="{% url 'news:createAccount' %}">Create Account</a></li>
    </ul>
    {% endif %}  
       
</nav>
